services:
  backend:
    build:
      context: .
      dockerfile: docker/Dockerfile
    container_name: ouvira_backend
    entrypoint: /usr/local/bin/entrypoint.sh
    command: python manage.py runserver 0.0.0.0:8000
    user: "${UID}:${GID}"

    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
        restart: true
      redis:
        condition: service_started

  db:
    image: postgres:15-alpine
    container_name: ouvira_db
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}" ]
      interval: 10s
      retries: 5
      start_period: 30s
      timeout: 10s
  redis:
    image: redis:alpine
    container_name: ouvira_redis
#    ports:
#      - "6379:6379"

volumes:
  postgres_data:
